// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap');


@font-face {
  font-family: montserrat ;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap);

}

body{
  font-size: 16px;
  font-weight: normal;
}
