// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #581CA4;
$secondary : #EEE7F6;
//$accent    : #9C27B0;

$dark      : #707070;
$dark-page : #0D0D0D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


// typography

$typography-font-family: Montserrat,Source Sans Pro, Fira Sans, Karla, Hind, Cabin , Inconsolata !default;
//$text-weights: (thin: 100, extra-light: 200, regular: 400, medium: 500) !important;
$text-weight-thin: 100 !important;
$text-weight-light: 200 !important;
$text-weight-regular: 400 !important;
$text-weight-medium: 500 !important;


$button-font-weight: normal !important;
