
@import 'colors';
@import 'form';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  color: $off;
}



footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

a {
  color: $link;
  text-decoration: none;
  &:hover ,&:focus{
    color: $link;
  }
}

button,a{
  cursor: pointer;
}



.isemail >span, .isuppercase>span, .islowercase>span, .eightchar>span, .isnumber>span{
  color:$valid;

  &.error{
    color:$error;
  }
}

#generalPrompt{
  color:$error;
}

.is-active{
  @extend %active;
}

%active{
  background-color:$primary;
  color:$light;
}

.is-active{
  @extend %active;
}

%items{
  cursor:pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.2rem solid $light;
  padding:  1rem;
  margin: 1rem;
   img{
     width:3rem;
     height:3rem;
     border-radius: 50%;
   }

   .name{
     margin:1rem
   }
}

#groups > div,#inbox >div{

@extend %items;
}

#user-profile{
  @extend %items;

  .email{
    display:none;
  }
}

.users-list{
  &__item {
    @extend %items;
    .email, .indicator{
      display:none;
    }

  }
}

// home page

.home{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  min-height:100vh;
  background: linear-gradient(to top right, $primary 0%,$light 50%);
    h2{
      text-align: center;
      font-size:4rem;
      font-weight: bold;
      margin: 1rem;
    }
}
